.datatable .btn-datatable {
    height: 20px !important;
    width: 20px !important;
    font-size: 0.75rem;
    border-radius: 0.35rem !important;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-transparent-dark {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    color: rgba(31, 45, 65, 0.5) !important;
}

.btn-icon {
    padding: 0;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    flex-shrink: 0;
    height: calc( (1rem * 1.5) + (0.5rem * 2) + (2px) ) !important;
    width: calc( (1rem * 1.5) + (0.5rem * 2) + (2px) ) !important;
}


/* Layout Fixed */
#layoutSidenav {
    display: flex;
}

#layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
}

.fixed-top, #layoutSidenav #layoutSidenav_nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

@media (min-width: 992px) {
    #layoutSidenav, #layoutSidenav_nav { transform: translateX(0); }
}

#layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
}

.shadow-right {
    box-shadow: 0.15rem 0 1.75rem 0 rgba(31, 45, 65, 0.15);
}

.navbar-nav .sidenav-menu {
    overflow: hidden; 
    height:400px;
}

.navbar-nav .sidenav-menu:hover {
    overflow-y: auto;
  }

.navbar-nav .sidenav-menu {
    flex-grow: 1;
}

.navbar-nav .sidenav-footer {
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.navbar-nav .sidenav-footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 4.79rem;
}

.navbar-nav .sidenav-footer-subtitle {
    font-size: 0.75rem;
    color: rgba(255,255,255,.8);
}

.navbar-nav .sidenav-footer-title {
    font-weight: 500;
    color: #fff;
}

.navbar-nav .sidenav-menu::-webkit-scrollbar {
    width: 0.75rem;
}

.navbar-nav .sidenav-menu::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    border-width: 0.2rem;
    border-style: solid;
    background-clip: padding-box;
    background-color: rgba(31, 45, 65, 0.2);
    border-color: transparent;
}

.navbar-nav .sidenav-menu::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.navbar-nav .sidenav-menu::-webkit-scrollbar-corner {
    background-color: transparent;
}

.navbar-nav .sidenav-menu::-webkit-scrollbar-track {
    background: transparent;
}

@media (pointer: fine) and (hover: hover) {
    .navbar-nav .sidenav-menu:hover {
      overflow-y: overlay;
    }
}

@media (pointer: coarse) and (hover: none) {
    .navbar-nav .sidenav-menu {
      overflow-y: overlay;
    }
}

.navbar-nav .sidenav-menu::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: rgba(0, 0, 0, 0);
}

.border-top-login-as {
    border-top: 0.25rem dotted #e74a3b !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.fixed-top-menu-left {
    position: fixed;
    top: 0;
    z-index: 1030;
}

.fixed-top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

#nav-dropdown-user .dropdown-menu .dropdown-user-img {
    height: 2.5rem;
    width: 2.5rem;

    margin-right: 1.5rem;
    border-radius: 100%;

    vertical-align: middle;
    border-style: none;
}

#nav-dropdown-user .dropdown-menu .dropdown-header-user {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #687281;
    white-space: nowrap;
}

#nav-dropdown-user .dropdown-menu .dropdown-header-user .dropdown-user-details .dropdown-user-details-name {
    color: #1f2d41;
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nav-dropdown-user .dropdown-menu .dropdown-header-user .dropdown-user-details .dropdown-user-details-email {
    color: #687281;
    font-size: 0.75rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar .btn-icon-item {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;

    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
    flex-shrink: 0;
}

.navbar .btn-icon-size {
    margin-top: .7rem;
    height: calc( (1rem * 1.5) + (0.5rem * 2) + (10px) ) !important;
    width: calc( (1rem * 1.5) + (0.5rem * 2) + (10px) ) !important;
}

.navbar .btn-transparent-dark:not(:disabled):not(.disabled):active, .btn-transparent-dark:not(:disabled):not(.disabled).active, .show > .btn-transparent-dark.dropdown-toggle {
    color: #fff;
    background-color: rgba(31, 45, 65, 0.125);
    border-color: transparent;
}

.navbar .btn-icon-item:focus, .btn-icon-item.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(31, 45, 65, 0.25) !important;
}

.navbar .btn-transparent-dark:hover {
    color: #fff;
    background-color: rgba(31, 45, 65, 0.1);
    border-color: transparent;
}

.timer {
    float: left;
    color: #1f2d41;
}

.font-weight-500 {
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.9);
}

/* Customer View */
.container-fluid-fix {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 4.4rem;
}

.page-header.page-header-light {
    color: rgba(31, 45, 65, 0.5);
}

.border-bottom {
    border-bottom: 1px solid #e3e6ec !important;
}

.bg-white {
    background-color: #fff !important;
}

.page-header-compact .page-header-content {
    padding: 0;
}

.page-header.page-header-light .page-header-title {
    color: #1f2d41;
}

.page-header-compact .page-header-content .page-header-title {
    font-size: 1rem;
}

.page-header .page-header-content .page-header-title {
    line-height: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.page-header.page-header-light .page-header-title .page-header-icon {
    color: rgba(31, 45, 65, 0.5);
}

.page-header .page-header-content .page-header-title .page-header-icon {
    margin-right: 0.5rem;
    display: inline-flex;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #687281;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(31, 45, 65, 0.125);
    border-radius: 0.35rem;
}

.card:not([class*=bg-]) .card-header {
    color: #0061f2;
}

.card .card-header {
    font-weight: 600;
}

.card-header-actions .card-header {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
}

.img-account-profile {
    height: 10rem;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.nav-item .nav-link .status-indicator {
    background-color: #eaecf4;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    position: absolute;
    bottom: 1.4rem;
    right: 2rem;
    border: 0.125rem solid #fff;
}