<%- include('header', { title: 'Cập nhật lại mật khẩu' }); -%>

<div class="body-main">
    <div class="full-slider" style="top: 30px; background: none;">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mx-auto">
                    <div class="card card-signin my-6" style="padding: 0 10px; top: 40px;">
                        <div class="card-body">
                            <div class="text-center"><img style="max-width: 25%; height: auto;"
                                    src="/images/logo-sala-bank.png"></div>
                            <h1 class="card-title text-center fadein_animation"
                                style="margin-bottom: 0; color: #dbbc55; letter-spacing: .1rem; font-weight: bold;">
                                SalaBank</h1>
                            <h3 class="card-text text-center"
                                style="margin-bottom: 1rem; color: #dbbc55; letter-spacing: .1rem; font-weight: bold;">
                                Cập nhật mật khẩu mới</h3>
                            <h5 class="text-center">Xin chào, <%= user.displayName %>!</h5>
                            <form method="POST" class="form-signin">
                                <div class="form-label-group">
                                    <input type="password" class="form-control" id="password" name="password"
                                        aria-describedby="numHelp" placeholder="Nhập mật khẩu mới" required autofocus>
                                    <label for="password">Nhập mật khẩu mới</label>
                                </div>
                                <div class="form-label-group">
                                    <input type="password" class="form-control" id="password_again"
                                        name="password_again" aria-describedby="numHelp"
                                        placeholder="Nhập lại mật khẩu mới" required>
                                    <label for="password_again">Nhập lại khẩu mới</label>
                                </div>
                                <div class="control fix-ie" style="text-align: center; margin-top: 1.5rem;">
                                    <button type="submit" id="btnUpdateNewPass" name="btnUpdateNewPass"
                                        value="btnUpdateNewPass" class="btn-hover color"
                                        style="text-transform: uppercase;">
                                        Cập nhật
                                    </button>
                                </div>
                                <div class="login-link text-center">
                                    <small>Thông tin khách hàng được SalaBank bảo mật an toàn!</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); -%>