</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; SalaBank - Internet Banking 2020</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/admincp/jquery/jquery.min.js"></script>
<script src="/vendor/admincp/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/admincp/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/admincp/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/admincp/chart.js/Chart.min.js"></script>
<script src="/vendor/admincp/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/admincp/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/admincp/demo/chart-area-demo.js"></script>
<script src="/js/admincp/demo/chart-pie-demo.js"></script>
<script src="/js/admincp/demo/datatables-demo.js"></script>

<script>
  $(document).ready(function () {
    $('#dataTable_cusTrans').dataTable({
      "order": [[0, 'desc']]
    });
  });
</script>
<script>
  function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }
  function changeAmount(value) {
    loValue = formatCurrency(value.replace(/,/g, "").replace(/\./g, ""));
    loValue = loValue.replace(/,/g, ".")
    return loValue;
  }
</script>
<script>
  $(document).ready(function () {
    var so = document.getElementById('sotien').value;
    so = so.replace(/,/g, "");
    so = so.replace(/\./g, "");

    var v_doc_so = docso(so);
    var stchu = v_doc_so.substring(2, 1).toUpperCase() + v_doc_so.substring(2, v_doc_so.length) + " đồng";

    document.getElementById('sotienbangchu').value = stchu;
  });
</script>
<script>
  // Chuyen Tien
  $('#sotien').blur(function () {
    var so = document.getElementById('sotien').value;
    so = so.replace(/,/g, "");
    so = so.replace(/\./g, "");

    var v_doc_so = docso(so);
    var stchu = v_doc_so.substring(2, 1).toUpperCase() + v_doc_so.substring(2, v_doc_so.length) + " đồng";

    document.getElementById('sotienbangchu').value = stchu;
    return false;
  });
  $('#sotien').change(function () {
    var so = document.getElementById('sotien').value;
    so = so.replace(/,/g, "");
    so = so.replace(/\./g, "");

    var v_doc_so = docso(so);
    var stchu = v_doc_so.substring(2, 1).toUpperCase() + v_doc_so.substring(2, v_doc_so.length) + " đồng";

    document.getElementById('sotienbangchu').value = stchu;
    return false;
  });
</script>

</body>

</html>